<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
         <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar tete" role="navigation">
            <div
                class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Gestion vente</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('client_index') }}">Client</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_index') }}">Produit</a>
                        </li>
                        <li>
                           <a href="{{ path('categorie_index') }}">Categorie</a>
                        </li>
                        <li>
                            <a href="{{ path('commande_index') }}">Commande</a>
                        </li>
                         <li>
                           <a href="{{ path('ligne_commande_index') }}">Ligne commande</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        

        {% block javascripts %}{% endblock %}
    </body>
</html>
